

{{!-- <div class="container"> --}}
  <h1>hrllo</h1>

  <h1>{{vegetables.vegetables}}</h1>
   <h1>{{name}}</h1>
  {{#each vegetables}}
    <h1>{{name}}</h1>
  {{!-- <div class="puppy-list"> --}}
   <h1>{{id}}</h1> 
    {{!-- <img class="container--image" src="{{image}}" alt="{{name}}"></a>
  </div> --}}
  {{/each}}
{{!-- </div> --}}