<form class="form" action="/quiz/{{id}}" method="get">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="question" class="form-item">
    {{question}}

  
    <select id ="wear">
      {{#each answers}}
    <option value="a" {{this.answer}} > </option>  
  
      {{/each}}
         </select>
  


  
  <input type="submit" name="" value="Submit">
</form>

