<div class="quiz doodleBG">
  <div class="card">
    <form action="/quiz/{{id}}" method="post">
      <h2 class="quiz__title">Question {{id}}:</h2>
      <h1 class="quiz__title">{{question}}</h1>

      <div class="quiz__buttonGrid">

      {{#each answers}}
        <button class="button button--quiz" type="submit" name="submit" value="{{vegetables}}">{{answer}}</button>
      {{/each}}

      </div>



    </form>
  </div>
</div>